.content{
	-webkit-animation: content 1.5s ;
	-moz-animation: content 1.5s ;
	-ms-animation: content 1.5s ;
	-o-animation: content 1.5s ;
	animation: content 1.5s ;
}
.content-start{
	position:relative;
	z-index:1000;
	-webkit-animation: content 2s linear 3.5s backwards;
	-moz-animation: content 2s linear 3.5s backwards;
	-ms-animation: content 2s linear 3.5s backwards;
	-o-animation: content 2s linear 3.5s backwards;
	animation: content 2s linear 3.5s backwards;
}
.start{
	z-index:0;
	position:fixed;
	width:100%;height:100%;
	top:0px;left:0px;
	background:white;
	text-align:center;
	-webkit-animation: background 2s linear 3.5s forwards;
	-moz-animation: background 2s linear 3.5s forwards;
	-ms-animation: background 2s linear 3.5s forwards;
	-o-animation: background 2s linear 3.5s forwards;
	animation: background 2s linear 3.5s forwards;
}
.image{
	position:absolute;
	width:75px;height:75px;
	top:50%;left:50%;
	margin:-37px;
	background-image:url("../logo.png");
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0) rotate(360deg);
	-moz-transform: scale(0) rotate(360deg);
	-ms-transform: scale(0) rotate(360deg);
	-o-transform: scale(0) rotate(360deg);
	transform: scale(0) rotate(360deg);
	-webkit-animation: image 1s linear 1.5s forwards;
	-moz-animation: image 1s linear 1.5s forwards;
	-ms-animation: image 1s linear 1.5s forwards;
	-o-animation: image 1s linear 1.5s forwards;
	animation: image 1s linear 1.5s forwards;
}
.start h2{
	font-weight:bold;
	font-size:60px;
	top:60%;
	width:100%;height:68px;
	color:transparent;
	position:absolute;
	text-align:center;
	text-shadow: 0px 0px 1px black;
	-webkit-animation: start 2s linear backwards;
	-moz-animation: start 2s linear backwards;
	-ms-animation: start 2s linear backwards;
	-o-animation: start 2s linear backwards;
	animation: start 2s linear backwards;
}
@-webkit-keyframes start{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px black;
		-webkit-transform: scale(3);
	}
	50%{
		opacity: 0.5;
		text-shadow: 0px 0px 10px black;
		-webkit-transform: scale(2);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px black;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes image{
	0%{
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
@-webkit-keyframes background{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
@-webkit-keyframes content{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@-moz-keyframes start{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(3);
	}
	50%{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-moz-transform: scale(2);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes image{
	0%{
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100%{
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
@-moz-keyframes background{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
@-moz-keyframes content{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}