.content{
	-webkit-animation: content 1.5s ;
	-moz-animation: content 1.5s ;
	-ms-animation: content 1.5s ;
	-o-animation: content 1.5s ;
	animation: content 1.5s ;
}
.content-start{
	position:relative;
	z-index:1000;
	-webkit-animation: content 3s linear 5s backwards;
	-moz-animation: content 3s linear 5s backwards;
	-ms-animation: content 3s linear 5s backwards;
	-o-animation: content 3s linear 5s backwards;
	animation: content 3s linear 5s backwards;
}
.start{
	z-index:0;
	position:fixed;
	width:100%;height:100%;
	top:0px;left:0px;
	background:#ccc;
	text-align:center;
	-webkit-animation: background 3s linear 5s forwards;
	-moz-animation: background 3s linear 5s forwards;
	-ms-animation: background 3s linear 5s forwards;
	-o-animation: background 3s linear 5s forwards;
	animation: background 3s linear 5s forwards;
}
.image{
	position:absolute;
	width:75px;height:75px;
	top:50%;left:50%;
	margin:-37px;
	background-image:url("../logo.png");
	-webkit-animation: image 3s linear forwards;
	-moz-animation: image 3s linear forwards;
	-ms-animation: image 3s linear forwards;
	-o-animation: image 3s linear forwards;
	animation: image 3s linear forwards;
}
.start h2{
	font-weight:blod;
	font-size:60px;
	top:60%;
	width:100%;height:68px;
	color:transparent;
	position:absolute;
	text-align:center;
	text-shadow: 0px 0px 1px #fff;
	-webkit-animation: start 3s linear 2s backwards;
	-moz-animation: start 3s linear 2s backwards;
	-ms-animation: start 3s linear 2s backwards;
	-o-animation: start 3s linear 2s backwards;
	animation: start 3s linear 2s backwards;
}
@-webkit-keyframes start{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(3);
	}
	50%{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(2);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes image{
	0%{
		opacity: 0;
		-webkit-transform: scale(100);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1.5);
	}
}
@-webkit-keyframes background{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
@-webkit-keyframes content{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@-moz-keyframes start{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(3);
	}
	50%{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-moz-transform: scale(2);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes image{
	0%{
		opacity: 0;
		-moz-transform: scale(100);
	}
	100%{
		opacity: 1;
		-moz-transform: scale(1.5);
	}
}
@-moz-keyframes background{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
@-moz-keyframes content{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}