			*{
				margin: 0;
				padding: 0;
				font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
			}



			* a {
				color: #0389aa;
				text-decoration: none;
			}

			* a:hover {

			}

			body{
				background: url("../bg.jpg");
			}

			/* header */
			.top{
				top: 0;
				left: 0;
				position: fixed;
				width: 100%;
				height: 42px;
				background-color: #212121;
				box-shadow: 0 2px 3px rgba(0,0,0,0.35);
				z-index: 99;
				opacity: .95;
			}

			.top-container{
				width: 978px;
				margin: 0 auto;
			}

			.top-icon{
				float: left;
				width: 32px;
				height: 32px;
				margin: 5px 0 0;
				background: url("../favicon.ico")
			}

			.top-navs{
				float: left;
			}

			.top-navs a{
				position: relative;
				display: inline-block;
				margin: 10px 40px;
				outline: none;
				color: #939393;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 400;
				text-shadow: 0 0 1px rgba(111,134,134,0.3);
				font-size: 1.2em;
			}

			.top-navs a::before{
				position: absolute;
				display: inline-block;
				color:#fff;
				content:attr(data-hover);
				pointer-events: none;
				opacity:0;
				-webkit-transform-origin: top;
				-moz-transform-origin: top;
				-ms-transform-origin: top;
				-o-transform-origin: top;
				transform-origin: top;
				-webkit-transform: scale(1.1) rotate(4deg) translateX(10px) translateY(-10px);
				-moz-transform: scale(1.1) rotate(4deg) translateX(10px) translateY(-10px);
				-ms-transform: scale(1.1) rotate(4deg) translateX(10px) translateY(-10px);
				-o-transform: scale(1.1) rotate(4deg) translateX(10px) translateY(-10px);
				transform: scale(1.1) rotate(4deg) translateX(10px) translateY(-10px);
				-webkit-transform-origin: 100% 0%;
				-moz-transform-origin: 100% 0%;
				-ms-transform-origin: 100% 0%;
				-o-transform-origin: 100% 0%;
				transform-origin: 100% 0%;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}

			.top-navs a:hover::before{
				opacity:1;
				-webkit-transform: scale(1) rotateY(0deg) translateX(0px) translateY(0px);
				-moz-transform: scale(1) rotateY(0deg) translateX(0px) translateY(0px);
				-ms-transform: scale(1) rotateY(0deg) translateX(0px) translateY(0px);
				-o-transform: scale(1) rotateY(0deg) translateX(0px) translateY(0px);
				transform: scale(1) rotateY(0deg) translateX(0px) translateY(0px);
			}

			.top-navs .current {
				color: #fff;
			}

			.top-navs .current:hover::before {
				opacity: 0;
			}
			/* end header */

			/* content */
			.container{
				top: 42px;
				left: 0;
				width: 780px;
				position: relative;
				margin: 0 auto;
				padding: 10px;
			}

			.main{
				width: 100%;
				min-height: 800px;
				border-radius: 7px;
				border: 1px solid rgba(0,0,0,0.15);
				box-shadow: 0 3px 10px rgba(0,0,0,.2);
				background: rgba(255,255,255,.7);
				position: relative;
			}

			.clear{
				clear: both;
				display: block;
				overflow: hidden;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.container-navs {
			    /* Size and position */
			    position: fixed;
			    
			    right: -80px;
			    width: 200px;
			    margin-top: 0px;
			    padding: 10px;

			    /* Styles */
			    background: rgba(255,255,255,.7);
			    border-radius: 7px;
			    border: 1px solid rgba(0,0,0,0.15);
			    box-shadow: 0 3px 10px rgba(0,0,0,.2);
			    cursor: pointer;
			    outline: none;
                pointer-events: none;
			    /* Font settings */
			    font-weight: bold;
			    color: #0389aa;
			    z-index: 99;
			}

			#kk{
				top: 52px;
			}
			
			#kk1{
				top: 102px;
			}


			#kk2 {
				top: 152px;
			}

			#kk3 {
				top: 202px;
			}

			.symbol{
				
				pointer-events: auto;
				width:222px;
				height:22px; 
			}

			.container-navs:after {
			    content: "";
			    width: 0;
			    height: 0;
			    position: absolute;
			    right: 15px;
			    top: 50%;
			    margin-top: -3px;
			    border-width: 6px 6px 0 6px;
			    border-style: solid;
			    border-color: #0389aa transparent;
			}

			.container-navs .dropdown {
			  /* Size & position */
			    position: absolute;
			    top: 140%;
			    left: 0;
			    right: 0;

			    /* Styles */
			    background: rgba(255,255,255,.7);
			    border-radius: inherit;
			    border: 1px solid rgba(0,0,0,0.17);
			    box-shadow: 0 3px 10px rgba(0,0,0,.2);
			    font-weight: normal;
			    -webkit-transition: all 0.5s ease-in;
			    -moz-transition: all 0.5s ease-in;
			    -ms-transition: all 0.5s ease-in;
			    -o-transition: all 0.5s ease-in;
			    transition: all 0.5s ease-in;
			    list-style: none;
                pointer-events: none;
			    /* Hiding */
			    opacity: 0;
			    z-index: 99;
			  
			}

			.container-navs .dropdown:after {
			    content: "";
			    width: 0;
			    height: 0;
			    position: absolute;
			    bottom: 100%;
			    right: 15px;
			    border-width: 0 6px 6px 6px;
			    border-style: solid;
			    border-color: rgba(255,255,255,.7) transparent;    
			}

			.container-navs .dropdown:before {
			    content: "";
			    width: 0;
			    height: 0;
			    position: absolute;
			    bottom: 100%;
			    right: 13px;
			    border-width: 0 8px 8px 8px;
			    border-style: solid;
			    border-color: rgba(0,0,0,0.1) transparent;    
			}

			.container-navs .dropdown li a {
			    display: block;
			    padding: 10px;
			    text-decoration: none;
			    color: #0389aa;
			    border-bottom: 1px solid rgba(230,232,234,.7);
			    box-shadow: inset 0 1px 0 rgba(255,255,255,.7);
			    -webkit-transition: all 0.3s ease-out;
			    -moz-transition: all 0.3s ease-out;
			    -ms-transition: all 0.3s ease-out;
			    -o-transition: all 0.3s ease-out;
			    transition: all 0.3s ease-out;
			}

			.container-navs .dropdown li:first-of-type a {
			    border-radius: 7px 7px 0 0;
			}

			.container-navs .dropdown li:first-of-type .single {
			    border-radius: 7px 7px;
			}

			.container-navs .dropdown li:last-of-type a {
			    border: none;
			    border-radius: 0 0 7px 7px;
			}

			.container-navs .dropdown li:last-of-type .single {
			    border: none;
			    border-radius: 7px 7px;
			}

			/* Hover state */

			.container-navs .dropdown li:hover a {
			    background: #f3f8f8;
			}
			/* end content */

			section{
				width: 100%;
			}

			.intro{
				margin-top: 72px;
			}

			.intro-container{
				width: 978px;
				margin: 0 auto;
				padding: 10px 20px 40px 20px;
			}

			.intro p {
				font-size: 3.2em;
				line-height: 1em;
				text-shadow: 0 2px 3px rgba(0,0,0,.5);
			}

			.features{
			}

			.features-container{
				width: 978px;
				margin: 0 auto;
			}

			.unit{
				position: relative;
				float: left;
				width: 32%;
				margin: 10px 2.5px;
				padding: 10px 2.5px;
				text-decoration: none;
				color: #000;
				border: 1px solid rgba(0,0,0,0.15);
				border-radius: 7px;
				box-shadow: 0 3px 10px rgba(0,0,0,1);
				background: rgba(255,255,255,.7);
				display: block;
				overflow: hidden;
			}

			.unit:hover div{
				top: 187px;
				opacity: .8;
			}

			.unit h2{
				margin-top: 10px;
				font: 1.5em;
			}

			.unit p{
				margin: 1em 0;
				font-size: 21px;
				font-weight: bold;
				line-height: 1.5em;
			}

			.unit div{
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				color: #fff;
				border-radius: 0 0 7px 7px;
				background: #212121;
				opacity: 0;
				pointer-events: none;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-ms-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
			}

			.unit span{
				position: relative;
				margin: 10px auto;
				text-align: center;
				display: block;
			}

			.quickstart{
				margin: 60px 0;
				box-shadow: inset 0 3px 10px rgba(0,0,0,.2);
				background: rgba(255,255,255,.7);
				color: #fff;
			}

			.quickstart-container{
				width: 978px;
				height: 150px;
				margin: 0 auto;
			}

			.quickstart-left{
				float: left;
				width: 38%;
				padding: 10px 10px 10px 20px;
				color: #000;
			}

			.quickstart-left h4{
				margin: 50px 0 0 0;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
			}

			.quickstart-right{
				position: relative;
				float: right;
				width: 58%;
				margin: -22.5px 0;
				text-decoration: none;
				/*border: 1px solid rgba(0,0,0,0.15);
				border-radius: 7px;
				box-shadow: 0 3px 10px rgba(0,0,0,.2);
				font-size: 18px;
				line-height: 1.3em;
				overflow: hidden;*/
			}

			/*.quickstart-right:hover .title{
				top: 152px;
				opacity: .8;
			}*/

			.quickstart-right .title {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				color: #fff;
				border-radius: 0 0 7px 7px;
				background: #212121;
				opacity: 0;
				pointer-events: none;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-ms-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
			}

			.quickstart-right .title span{
				position: relative;
				margin: 10px auto;
				text-align: center;
				display: block;
			}

			.quickstart-right .shell {
			  padding: 40px;
			  text-shadow: none;
			  border: 1px solid rgba(0,0,0,0.15);
			  border-radius: 7px;
			  box-shadow: 0 3px 10px rgba(0,0,0,1);
			  background: url(../bord.jpg);
			  -webkit-transform-origin: 10% 20%;
			  -moz-transform-origin: 10% 20%;
			  -ms-transform-origin: 10% 20%;
			  -o-transform-origin: 10% 20%;
			  transform-origin: 10% 20%;
			  -webkit-transition: -webkit-transform .5s;
			  -moz-transition: -webkit-transform .5s;
			  -ms-transition: -webkit-transform .5s;
			  -o-transition: -webkit-transform .5s;
			  transition: -webkit-transform .5s;
			}

			.quickstart-right:hover .shell{
				-webkit-transform: rotate(2deg);
				-ms-transform: rotate(2deg);
				-moz-transform: rotate(2deg);
				-o-transform: rotate(2deg);
				transform: rotate(2deg);
			}

			.quickstart-right .line {
			  display: block;
			  margin: 0;
			  padding: 0;
			}

			.quickstart-right .line span {
			  display: inline-block;
			}

			.quickstart-right .path {
			  color: #87ceeb;
			}

			.quickstart-right .prompt {
			  color: #cd5c5c;
			}

			.quickstart-right .command {
			  color: #F0E625;
			}

			.quickstart-right .output {
			  color: #888;
			}

			.free-hosting-container{
				width: 978px;
				margin: 0 auto;
			}

			.free-hosting .whole{
				padding: 10px 20px;
			}

			.free-hosting .pane {
			  background: rgba(255,255,255,.7);
			  border: 1px solid rgba(0,0,0,0.15);
			  border-radius: 7px;
			  box-shadow: 0 3px 10px rgba(0,0,0,1);
			  text-shadow: none;
			  position: relative;
			  padding: 0 20px 30px;
			}

			.free-hosting img {
			  float: left;
			}
			.free-hosting .pane-content {
				position: relative;
				margin-top: 35px;
				padding-right: 30px;
				z-index: 50;
			}
			.free-hosting p,
			.free-hosting a {
				margin: .75em 0;
			  font-size: 18px;
			}
			.free-hosting a{
				color: #8aa8bd;
				text-decoration: none;
			}
			.free-hosting .pane:after {
			    content: " ";
			    float: right;
			    background: url(../img/footer-arrow.png) top left no-repeat;
			    width: 73px;
			    height: 186px;
			    position: absolute;
			    right: 0;
			    bottom: -30px;
			}


			.mm1{
                height: 150px;
                width: 300px;
                margin: -20px -30px -30px -50px;
			}
			#head{
                -webkit-transform-origin: 50% 100%;
                -moz-transform-origin: 50% 100%;
                -ms-transform-origin: 50% 100%;
                -o-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transition: 2s;
                -moz-transition: 2s;
                -ms-transition: 2s;
                -o-transition: 2s;
                transition: 2s;
                /*
                -webkit-animation: mm 2s linear infinite alternate;
                -moz-animation: mm 2s linear infinite alternate;
				*/
			}
			.mm2{
                height: 130px;
                width: 300px;
                margin: 0px -30px -30px -50px;
                
			}

			/* section-nav */
			.section-nav {
			  text-align: center;
			  padding-top: 40px;
			  position: relative;
			  background: url(../img/article-footer.png) top center no-repeat;
			  margin: 40px -20px 10px;
			}

			.section-nav > div {
			  	width: 49.5%;
			}

			.section-nav a, .section-nav span {
			  color: #8aa8bd;
			  font-size: 16px;
			  text-transform: uppercase;
			  font-weight: 700;
			  padding: 8px 12px 10px;
			  border-radius: 5px;
			  border: 1px solid rgba(0,0,0,0.15);
			  box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5);
			  background: rgba(255,255,255,.7);
			}

			.section-nav a:hover {
			  color: #8aa8bd;
			  background: #f3f8f8;
			}

			.section-nav .next, .section-nav .prev {
			  position: relative;
			}

			.section-nav .next:after, .section-nav .prev:before {
			  font-size: 36px;
			  color: #8aa8bd;
			  font-weight: 800;
			  position: absolute;
			  top: -7px;
			}

			.section-nav .next:after {
			  content: "›";
			  right: 10px;
			}

			.section-nav .prev:before {
			  content: "‹";
			  left: 10px;
			}

			.left {
				float: left;
				text-align: right;
			}

			.section-nav .prev, .section-nav .prev:hover {
			  padding-left: 30px;
			}

			.right {
				float: right;
				text-align: left;
			}

			.section-nav .next, .section-nav .next:hover {
			  padding-right: 30px;
			}

			.section-nav .disabled {
			  opacity: .5;
			  /*filter: alpha*/
			  cursor: default;
			}

			/* footer */
			.footer{
				width: 100%;
				height: 109px;
				background: rgba(0,0,0,.3);
				border-top: 1px solid #000;
				box-shadow: inset 0 3px 10px rgba(0,0,0,1);
				font-size: 16px;
				margin-top: 40px;
				color: #000;
			}

			.footer-container{
				width: 978px;
				margin: 0 auto;
			}

			.footer-left{
				position: relative;
				width: 33%;
				padding: 10px 20px 10px 10px;
				float: left;
			}

			.footer-right{
				position: relative;
				width: 60%;
				padding: 10px 10px 10px 20px;
				float: left;
			}

			.footer-container p{
				display: block;
				margin: 16px 0;
			}

			.footer-right p{
				text-align: right;
			}

			.footer-img {
				float: right;
				width: 100px;
				height: 30px;
				display: block;
				background: #212121;
				border-radius: 7px;
				opacity: .8;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-ms-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
			}

			.footer-img:hover {
				opacity: 1;
			}
			/* end footer */

@-webkit-keyframes mm {
	0% {
		-webkit-transform: rotate(-10deg);
	}
	100% {
		-webkit-transform: rotate(10deg);			
	}
}
@-moz-keyframes mm {
	0% {
		-moz-transform: rotate(-10deg);
	}
	100% {
		-moz-transform: rotate(10deg);			
	}
}
