<div class="unit one-fifth hide-on-mobiles">
    <aside>
        <ul>
            <li class="{% if page.title == 'AirWatch Introduction' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/intro/">AirWatch Intro</a>
            </li>
        </ul>
        <h4>Solution</h4>
        <ul>
            <li class="{% if page.title == 'BYOD' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/byod/">BYOD</a>
            </li>
            <li class="{% if page.title == 'Containerization (Workspace)' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/containerization/">Containerization</a>
            </li>
            <li class="{% if page.title == 'Mobile Security' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/security/">Security</a>
            </li>
            <li class="{% if page.title == 'Mobile Device Management' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/mdm/">Device</a>
            </li>
            <li class="{% if page.title == 'Mobile Application Management' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/mam/">Application</a>
            </li>
            <li class="{% if page.title == 'Mobile Content Management' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/mcm/">Content</a>
            </li>
            <li class="{% if page.title == 'Mobile Email Management' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/mem/">Email</a>
            </li>
            <li class="{% if page.title == 'Mobile Browsing Management' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/mbm/">Browsing</a>
            </li>
            <li class="{% if page.title == 'Laptop Management' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/laptop/">Laptop</a>
            </li>
            <li class="{% if page.title == 'Multi-user Management' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/multiuser/">Multi-user</a>
            </li>
        </ul>
        <h4>Platform</h4>
        <ul>
            <li class="{% if page.title == 'Android' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/android/">Android</a>
            </li>
        </ul>
        <h4>Industry</h4>
        <ul>
            <li class="{% if page.title == 'Education' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/education/">Education</a>
            </li>
            <li class="{% if page.title == 'Enterprise' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/enterprise/">Enterprise</a>
            </li>
        </ul>
    </aside>
</div>
