<div id="kk" class=container-navs>


	<div  class="symbol">
	<span >Introduction</span>
   </div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/airwatch/intro/" class=single>AirWatch Intro</a></li>
	</ul>
</div>


	
<div id="kk1" class=container-navs >
	<div  class="symbol">
	<span >solution</span>
</div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/airwatch/byod/">BYOD</a></li>
		<li><a href="{{site.url}}/airwatch/containerization/">Containerization</a></li>
		<li><a href="{{site.url}}/airwatch/security/">Security</a></li>
		<li><a href="{{site.url}}/airwatch/mdm/">Device</a></li>
		<li><a href="{{site.url}}/airwatch/mam/">Application</a></li>
		<li><a href="{{site.url}}/airwatch/mcm/">Content</a></li>
		<li><a href="{{site.url}}/airwatch/mem/">Email</a></li>
		<li><a href="{{site.url}}/airwatch/mbm/">Browsing</a></li>
		<li><a href="{{site.url}}/airwatch/laptop/">Laptop</a></li>
		<li><a href="{{site.url}}/airwatch/multiuser/">Multi-user</a></li>
	</ul>
</div>



<div id="kk2" class=container-navs>
	<div  class="symbol">
	<span >Platform</span>
   </div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/airwatch/android/" class=single>Android</a></li>
	</ul>
</div>

<div id="kk3" class=container-navs>
	<div  class="symbol">
	<span >Industry</span>
   </div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/airwatch/education/">Education</a></li>
		<li><a href="{{site.url}}/airwatch/enterprise/">Enterprise</a></li>
		<li><a href="{{site.url}}/airwatch/finance/">Finance</a></li>
		<li><a href="{{site.url}}/airwatch/government/">Government</a></li>
		<li><a href="{{site.url}}/airwatch/healthcare/">Healthcare</a></li>
		<li><a href="{{site.url}}/airwatch/retail/">Retail</a></li>
		<li><a href="{{site.url}}/airwatch/smb/">SMB</a></li>
		<li><a href="{{site.url}}/airwatch/transport/">Transportation</a></li>
	</ul>
</div>