<div class="unit one-fifth hide-on-mobiles">
    <aside>
        <ul>
            <li class="{% if page.title == 'AirWatch Introduction' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/introduction/">AirWatch Intro</a>
            </li>
        </ul>
        <h4>Solution</h4>
        <ul>
            <li class="{% if page.title == 'BYOD' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/byod/">BYOD</a>
            </li>
            <li class="{% if page.title == 'Containerization (Workspace)' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/containerization/">Containerization</a>
            </li>
            <li class="{% if page.title == 'Mobile Security' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/security/">Mobile Security</a>
            </li>
        </ul>
        <h4>Platform</h4>
        <ul>
            <li class="{% if page.title == 'Android' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/android/">Android</a>
            </li>
        </ul>
        <h4>Industry</h4>
        <ul>
            <li class="{% if page.title == 'Education' %}current{% endif %}">
                <a href="{{site.url}}/airwatch/education/">Education</a>
            </li>
        </ul>
    </aside>
</div>
