<div class="unit one-fifth hide-on-mobiles">
    <aside>
        <ul>
            <li class="{% if page.title == 'EMM Introduction' %}current{% endif %}">
                <a href="{{site.url}}/emm/intro/">EMM Intro</a>
            </li>
        </ul>
        <h4>应用指南</h4>
        <ul>
            <li class="{% if page.title == 'VPN Connection' %}current{% endif %}">
                <a href="{{site.url}}/emm/vpn/">VPN</a>
            </li>
            <li class="{% if page.title == 'GoAgent Configuration' %}current{% endif %}">
                <a href="{{site.url}}/emm/goagent/">GoAgent</a>
            </li>
            <li class="{% if page.title == 'Axis2' %}current{% endif %}">
                <a href="{{site.url}}/emm/axis2/">Axis2</a>
            </li>
        </ul>
    </aside>
</div>
