<footer>
    <div class="grid">
        <div class="unit one-third center-on-mobiles">
            <p>By <a href="http://github.com/wh1100717">Eric Wang</a><br>
                and many more <a href="{{ site.repository }}/graphs/contributors">awesome&nbsp;contributors</a>.
            </p>
        </div>
        <div class="unit two-thirds align-right center-on-mobiles">
            <p>
                hosted by
                <a href="https://github.com">
                    <img src="{{site.url}}/img/footer-logo.png" alt="GitHub | Social coding">
                </a>
            </p>
        </div>
    </div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_5744809'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s17.cnzz.com/stat.php%3Fid%3D5744809%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</footer>