<div id="kk" class=container-navs>

	<div  class="symbol">
	<span class="symbol2">Introduction</span>
	</div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/javascript/intro/" class=single>JavaScript Intro</a></li>
	</ul>
</div>


<div id="kk1" class=container-navs>
	<div  class="symbol">
	<span class="symbol2">Notes</span>
   </div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/javascript/note/1/">NOTE_1</a></li>
		<li><a href="{{site.url}}/javascript/note/2/">NOTE_2</a></li>
	</ul>
</div>


<div id="kk2" class=container-navs>
	<div  class="symbol">
	<span class="symbol2">CodeWars Solutions</span>
</div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/javascript/codewars/1/" class=single>SOLUTION_1</a></li>
	</ul>
</div>
