<div class="unit one-fifth hide-on-mobiles">
    <aside>
        <ul>
            <li class="{% if page.title == 'JavaScript Introduction' %}current{% endif %}">
                <a href="{{site.url}}/javascript/intro/">JavaScript Intro</a>
            </li>
        </ul>
        <h4>Notes</h4>
        <ul>
            <li class="{% if page.title == 'JavaScript Note 1' %}current{% endif %}">
                <a href="{{site.url}}/javascript/note/1/">NOTE_1</a>
            </li>
            <li class="{% if page.title == 'JavaScript Note 2' %}current{% endif %}">
                <a href="{{site.url}}/javascript/note/2/">NOTE_2</a>
            </li>
        </ul>

    </aside>
</div>
