<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.url }}/">首页</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.url }}/docs/home/">Intro</a>
  </li>
  <li class="{% if page.url contains '/python/' %}current{% endif %}">
    <a href="{{ site.url }}/python/introduction/">Python</a>
  </li>
  <li class="{% if page.url contains '/airwatch/' %}current{% endif %}">
    <a href="{{ site.url }}/airwatch/introduction/">AirWatch</a>
  </li>
  <li class="{% if page.url contains '/emm/' %}current{% endif %}">
    <a href="{{ site.url }}/emm/introduction/">EMM</a>
  </li>
</ul>