<div class="unit one-fifth hide-on-mobiles">
    <aside>
        <ul>
            <li class="{% if page.title == 'Python OJ Answers Instruction' %}current{% endif %}">
                <a href="{{site.url}}/python/home/">Python</a>
            </li>
            <li class="{% if page.title == 'ZOJ' %}current{% endif %}">
                <a href="{{site.url}}/python/zoj/">ZOJ</a>
            </li>
            <li class="{% if page.title == 'CodeForces' %}current{% endif %}">
                <a href="{{site.url}}/python/codeforces/">CodeForces</a>
            </li>
        </ul>
        <h4>OJ  Answers</h4>
        <ul>
            {% for currentPage in site.pages %}
                {% if currentPage.url contains '/python/answers/'%}
                    <li class="{% if currentPage.title == {{page.title}} %}current{% endif %}">
                        <a href="{{site.url}}{{ currentPage.url }}">{{ currentPage.title }}</a>
                    </li>            
                {% endif %}
            {% endfor %}
        </ul>
    </aside>
</div>
