<div id="kk" class=container-navs>

	<div  class="symbol">
	<span class="symbol2">Introduction</span>
	</div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/python/intro/" data-hover="Python Intro">Python Intro</a></li>
		<li><a href="{{site.url}}/python/ojintro/" data-hover="Python 4 OJ">Python 4 OJ</a></li>
		<li><a href="{{site.url}}/python/scrapyintro/">Scrapy</a></li>
	</ul>
</div>





<div id="kk1" class=container-navs>
	<div  class="symbol">
	<span class="symbol2">Python 4 OJ</span>
	</div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/python/oj/zoj/">ZOJ</a></li>
		<li><a href="{{site.url}}/python/oj/codeforces/">CodeForces</a></li>
		<li><a href="{{site.url}}/python/oj/cf1-20">CF Solutions &nbsp;&nbsp;&nbsp;&nbsp;01-20</a></li>
		<li><a href="{{site.url}}/python/oj/cf21-40">CF Solutions &nbsp;&nbsp;&nbsp;&nbsp;21-40</a></li>
		<li><a href="{{site.url}}/python/oj/cf41-60">CF Solutions &nbsp;&nbsp;&nbsp;&nbsp;41-60</a></li>
		<li><a href="{{site.url}}/python/oj/zoj1-20">ZOJ Solutions &nbsp;01-40</a></li>
	</ul>
</div>



<div id="kk2" class=container-navs>
	<div  class="symbol">
	<span class="symbol2">Scrapy</span>
	</div>

	<ul class="dropdown">
		<li><a href="{{site.url}}/python/scrapy/installation" class=single>Installation</a></li>
	</ul>
</div>
